<h1>Daycare</h1>

<%= form_for(@daycare_new) do |f| %>
  <% if @daycare_new.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daycare.errors.count, "error") %> prohibited this daycare from being saved:</h2>

      <ul>
      <% @daycare_new.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <!-- <th>User</th> -->
        <th>Pokemon</th>
        <th>HP</th>
        <th>ATK</th>
        <th>DEF</th>
        <th>SPA</th>
        <th>SPD</th>
        <th>SPE</th>
        <th>Ability</th>
        <th>Nature</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <!-- <td><%= f.number_field :user_id %></td> -->
        <!-- <td><%= f.number_field :pokemon_id %></td> -->
        <td>
          <%= collection_select(
              :daycare,
              :pokemon_id,
              @pokemons,
              :id,
              :identifier
            )
          %>
        </td>
        <td><%= f.check_box :hp_iv %></td>
        <td><%= f.check_box :atk_iv %></td>
        <td><%= f.check_box :def_iv %></td>
        <td><%= f.check_box :spa_iv %></td>
        <td><%= f.check_box :spd_iv %></td>
        <td><%= f.check_box :spe_iv %></td>
        <td>
          <%= collection_select(
              :daycare,
              :abil_id,
              @abilities,
              :id,
              :identifier
            )
          %>
        </td>
        <td>
          <%= collection_select(
              :daycare,
              :nature_id,
              @natures,
              :id,
              :identifier
            )
          %>
        </td>
        <td colspan="2"><%= f.submit "Add Pokemon", class: "btn btn-success" %></td>
<% end %>
      </tr>

      <% @daycares.each do |daycare| %>
        <tr>
          <td><%= daycare.pokemon.identifier.capitalize %></td>
          <td><%= 'X' if daycare.hp_iv == true %></td>
          <td><%= 'X' if daycare.atk_iv == true %></td>
          <td><%= 'X' if daycare.def_iv == true %></td>
          <td><%= 'X' if daycare.spa_iv == true %></td>
          <td><%= 'X' if daycare.spd_iv == true %></td>
          <td><%= 'X' if daycare.spe_iv == true %></td>
          <td><%= daycare.ability.identifier.capitalize %></td>
          <td><%= daycare.nature.identifier.capitalize %></td>
          <td><%= link_to 'Edit', edit_daycare_path(daycare) %></td>
          <td><%= link_to 'Destroy', daycare, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
