<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @daycare.user_id %>
</p>

<p>
  <strong>Pokemon:</strong>
  <%= @daycare.pokemon_id %>
</p>

<p>
  <strong>Hp iv:</strong>
  <%= @daycare.hp_iv %>
</p>

<p>
  <strong>Atk iv:</strong>
  <%= @daycare.atk_iv %>
</p>

<p>
  <strong>Def iv:</strong>
  <%= @daycare.def_iv %>
</p>

<p>
  <strong>Spa iv:</strong>
  <%= @daycare.spa_iv %>
</p>

<p>
  <strong>Spd iv:</strong>
  <%= @daycare.spd_iv %>
</p>

<p>
  <strong>Spe iv:</strong>
  <%= @daycare.spe_iv %>
</p>

<p>
  <strong>Abil:</strong>
  <%= @daycare.abil_id %>
</p>

<p>
  <strong>Nature:</strong>
  <%= @daycare.nature_id %>
</p>

<%= link_to 'Edit', edit_daycare_path(@daycare) %> |
<%= link_to 'Back', daycares_path %>
